<p>Nam commodo a nibh eget hendrerit. Nulla facilisi. Pellentesque malesuada, ipsum non dictum fermentum, elit elit laoreet lacus, eu pretium justo leo quis turpis. Praesent vitae ante sapien. Praesent id turpis non sapien commodo blandit sed non arcu. Nam eu ipsum velit. Etiam ac massa at tellus dapibus mollis sed vel ipsum. Ut commodo metus vitae turpis interdum laoreet. Vivamus eleifend est at diam consequat, eu maximus felis auctor.</p>

</br>

<div id="container"> 
    <button id="open-modal-btn">Open modal</button>
    </br>
    <!-- {% include 'modal/modal_img.html' %} -->
</div>