<div id="c0">
    <div id="c1"> 
      <button>B1 </button> 
      <button>B1 </button> 
    </div>
    <div id="c2"> 
      <div id="c3"> Partie filtres 
        <div class="dropdown">
            <button onclick="myFunction()"class="dropbtn">Dropdown</button>
              <div id="myDropdown" class="dropdown-content">
                <a href="#">Itération 1</a>
                <a href="#">Itération 2</a>
                <a href="#">Itération 3</a>
              </div>
           </div>
      
      </div>
      <div id="c4"> Partie image</div>
    </div>
  </div>