{% load static %}

<form method="post">
  {% csrf_token %}
  <!-- Your form fields go here -->
</form>


<!--   C0   -->
<div class="container-fluid">
  <!--    C1    -->
      <div class="d-flex justify-content-between">
        <div>
          <button class="btn btn-primary mr-2">Train</button>
          <button class="btn btn-secondary">Test</button>
        </div>
        <form>
          <label for="images">Sélectionnez des images :</label>
          <input class="btn btn-secondary" type="file" id="images" name="images" multiple accept="image/png, image/jpeg">
        </form>
      </div>
      <br>
  <!--    C2    -->
      <div class="container-fluid">
        <div class="row">
  <!--     C3   -->
          <div class="col-2"> Partie filtres 

            
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Catégorie</h5>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">
                    Option 1
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">
                    Option 2
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">
                    Option 3
                  </label>
                </div>
              </div>
            </div> 
          </div>
  <!--    C4    -->
          <div  class="col-10">
            <div id ='container_img' class="row row-cols-1 row-cols-md-6 g-2">
              <div  class="col">       
              </div>
            </div>
          </div>
        </div>
      </div>


</div>

<script src="{% static 'js/pred/pred.js' %}" ></script>
<script src="{% static 'js/pred/action_pred.js' %}" ></script>
<script src="{% static 'js/pred/monitoring.js' %}"></script>