<div class="tab">
    <button class="tablinks" onclick="openCity(event, 'img')" id="defaultOpen">Images</button>
    <button class="tablinks" onclick="openCity(event, 'mod')">Modèles</button>
    <button class="tablinks" onclick="openCity(event, 'pred')">Prédictions</button>
</div>
  
<div id="img" class="tabcontent">
  {% include 'tab/images.html' %}
</div>

<div id="mod" class="tabcontent">
  {% include 'tab/graph.html' %}
</div>

<div id="pred" class="tabcontent">
  {% include 'tab/pred.html' %}
</div>