<div class="tab">
    <button class="tablinks" onclick="openCity(event, 'img')" id="defaultOpen">Images</button>
    <button class="tablinks" onclick="openCity(event, 'mod')">Modèles</button>
    <button class="tablinks" onclick="openCity(event, 'pred')">Prédictions</button>
</div>
  
<div id="img" class="tabcontent">
  {% include 'tab/images.html' %}
</div>

<div id="mod" class="tabcontent">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus ac dolor lobortis ullamcorper. Nullam vitae enim vel neque bibendum lacinia vel a est. Maecenas eget sapien magna. Nulla facilisi. Nam feugiat, quam vitae dignissim hendrerit, nulla velit blandit justo, sit amet consequat mauris enim id nisi. Sed hendrerit, urna vel fermentum euismod, velit velit faucibus risus, vel luctus ipsum lacus id turpis. Proin et dictum magna, at volutpat odio. Vivamus tristique quam quis erat feugiat, vel consectetur nulla commodo. Curabitur sodales dictum diam at varius. Sed vulputate lorem eget velit convallis pharetra.</p> 
</div>

<div id="pred" class="tabcontent">
  {% include 'tab/pred.html' %}
</div>