<div class="tab">
    <button class="tablinks" onclick="openCity(event, 'img')" id="defaultOpen">Images</button>
    <button class="tablinks" onclick="openCity(event, 'mod')">Modèles</button>
    <button class="tablinks" onclick="openCity(event, 'pred')">Prédictions</button>
</div>
  
<div id="img" class="tabcontent">
  <p>Nam commodo a nibh eget hendrerit. Nulla facilisi. Pellentesque malesuada, ipsum non dictum fermentum, elit elit laoreet lacus, eu pretium justo leo quis turpis. Praesent vitae ante sapien. Praesent id turpis non sapien commodo blandit sed non arcu. Nam eu ipsum velit. Etiam ac massa at tellus dapibus mollis sed vel ipsum. Ut commodo metus vitae turpis interdum laoreet. Vivamus eleifend est at diam consequat, eu maximus felis auctor.</p>
</div>

<div id="mod" class="tabcontent">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus ac dolor lobortis ullamcorper. Nullam vitae enim vel neque bibendum lacinia vel a est. Maecenas eget sapien magna. Nulla facilisi. Nam feugiat, quam vitae dignissim hendrerit, nulla velit blandit justo, sit amet consequat mauris enim id nisi. Sed hendrerit, urna vel fermentum euismod, velit velit faucibus risus, vel luctus ipsum lacus id turpis. Proin et dictum magna, at volutpat odio. Vivamus tristique quam quis erat feugiat, vel consectetur nulla commodo. Curabitur sodales dictum diam at varius. Sed vulputate lorem eget velit convallis pharetra.</p> 
</div>

<div id="pred" class="tabcontent">
  <p>Suspendisse non urna non ipsum interdum fringilla in at elit. Fusce id augue congue, bibendum velit ut, tincidunt quam. Vestibulum rhoncus convallis velit, a gravida libero faucibus eu. Integer vestibulum orci vel justo tempor, non cursus nisl tincidunt. In auctor nisl quis augue tincidunt aliquet. Donec ut lectus vitae est facilisis volutpat. Fusce lobortis convallis dui, eu dapibus metus ullamcorper a. Duis eu ipsum sed est facilisis eleifend a sit amet dolor. Sed eu metus vitae magna suscipit consequat. Cras eu nulla eros. In blandit, leo quis pulvinar vestibulum, velit libero tincidunt lacus, in pulvinar velit tortor at felis. Quisque vitae felis est.</p>
</div>